body{
    font-size: medium;
    margin-top: 50px;
    margin-left: 100px;
}

h1{
    color: blue;
}
input, button{
    padding: 10px;
    margin: 5px;
}

button{
    background-color: blue;
    color: white;
    border: none;
    cursor: pointer;
}

